<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectDA.Properties.Settings.QLKS1ConnectionString"
            connectionString="Data Source=LAPTOP-NC0J59B5\SQLEXPRESS;Initial Catalog=QLKS1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>